.ah{
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.i_back_hoom{
	background-color: pink;
	width: 780px;
	height: 50px;
	margin: 0 auto;
}
.ww{
	line-height: 0px;
	text-align: center;
}
#adopt{
	margin: 0 auto;
	padding: 10px;
	width: 800px;
	height: 800px;
	background: #ddd;
}
ul li{
	text-decoration: none;
	list-style-type: none;
	float: left;
	padding: 10px;
}
p{
	font-size: 17px;
}