<style type="text/css">
  a{
    text-decoration: none;
  }
  .img222{
    width: 280px;
    height: 280px;
  }
</style>

<div class="user-details">
  <h1>My development journal</h1>
  <p>저는 한국 출신의 개발자 김기호 입니다. 저는 컴퓨터 고등학교를 재학중이며 내년엔 회사에 취업합니다. 저는 C, HTML, JS, JSP, PHP, CSS, JAVA등을 사용해 개발중이며 현재 만든 작품으로는 "애완견 입양 페이지", "음악 검색 페이지"등이 있습니다. 저를 더 알고 싶다면 인스타그램, 페이스북, GITHUB등을 팔로우 하여 저를 응원해 주세요! 감사합니다.</p>
</div>
<div class="user">
  <div class="tech">
    <a href="Pets/main.html">
      <h2 style="color: black; margin: 0 auto;">Dog adoption site</h2>
      <img class="img22" src="New_img/Pets_img.jpg" style="width: 280px; height: 280px;">
      <p style="color: black;">위에서 소개시켜 드린 애완견 입양 페이지 입니다.</p>
    </a>
    </div>
  <div class="tech">
    <a href="music/main.html">
      <h2 style="color: black; margin: 0 auto;">Song search</h2>
      <img class="img222" src="New_img/music_img.jpg" >
      <p style="color: black;">위에서 소개시켜 드린 노래 검색 페이지 입니다.</p>
    </a>
  </div>
  <div class="tech">
    <a href="camera/main.html">
      <h2 style="color: black; margin: 0 auto;">camera information</h2>
      <img class="img222" src="New_img/camera1.jpg" >
      <p style="color: black;">위에서 소개시켜 드리진 않았지만 혼자 만든 페이지 입니다.</p>
    </a>
  </div>
  <div class="tech">
    <a href="TTRS_mian/index.html">
      <h2 style="color: black; margin: 0 auto;">tatris game</h2>
      <img class="img222" src="New_img/TTRS.jpg" >
      <p style="color: black;">위에서 소개시켜 드리진 않았지만 HTML, JS, CSS로 만든 테트리스 게임 입니다.</p>
    </a>
  </div>
</div>
