<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>Developer <span class="love">❤</span><a href="https://www.instagram.com/kimkiho3514/"> kim ki-ho</a></p>
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/weenters.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/button.js' | prepend: site.baseurl }}"></script>
