<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">kimklho</span>
        <span class="site-description">{{ development log }}</span>
      </h1>
      <div class="header-icons">
        {% if site.email %}
        <a aria-label="Send email" href="mailto:afadg1234@icloud.com"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.instagram_username %}
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/kimkiho3514/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.facebook_username %}
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100009326747556"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="https://github.com/kimklho"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <!-- <a href="https://kimkihoqn.github.io/" target="_blank" style="text-decoration: none; font-weight: bold; color: white;">&lt;GAME Page&gt;</a> -->
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
